body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20pt;
    padding: 0;
}

.logo {
    width: 80pt;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10pt;
    margin-top: 20pt;
}

br.biggerbreak {
    content: "";
    display: block;
    height:3em;
}

h1.title {
    font-size: 45px;
}

h1 {
    font-size: 30px;
}

label {
    font-size: 18pt;
}

textarea {
    resize: none;
}

